@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ebff46b8;
	font-family: 'Varela Round', sans-serif;
}

h2 {
	font-size: 2.5rem;
}

h1 {
	font-size: 3.5rem;
}

img {
	margin: 0.1rem;
}

.play-again {
	display: none;

	background-color: rgb(218, 13, 173);
	border: 0;
	padding: 1.5rem 2rem;
	margin: 1rem 0;
	font-size: 2rem;
	font-family: monospace;
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 5px;
	color: white;
}

.play-again:hover,
.card-img:hover {
	opacity: 0.7;
	transform: scale(1.03);
}

.play-again:active,
.card-img:active {
	background: rgb(218, 13, 173);
	transform: scale(0.98);
}

.grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 300px;
	width: 500px;
}
